.page-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 235px;
    background: #222224;
}

.page-footer-txt {
    margin: 30px 0;
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
}

.page-footer-social {
    display: flex;
}

.social-link {
    display: block;
    width: 31px;
    height: 32px;
    margin: 24px 7px 23px 0;
    background: #fff;
}

.social-link:nth-child(1) svg {
    padding: 8px 11px 9px;
}

.social-link:nth-child(2) svg {
    padding: 9px 8px 8px 7px;
}

.social-link:nth-child(3) svg {
    padding: 8px 9px;
}

.social-link:nth-child(4) svg {
    padding: 9px 7px;
}

.social-link:hover svg {
    fill: white;
}

.social-link:hover {
    background: #f16d7f;
}
