* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
.header {
    background-color: #222222;
    min-width: 1600px;
    position: relative;
    
}
.header-left {
    padding: 18px 0px 19px 231px;
}
.logo {
    margin: 0px 41px 0px 0px;
}

.menu {
    position: absolute;
    top:30px;
    right: 367px;
}
.person {
    position: absolute;
    top: 26px;
    right: 305px;
}
.buy {
     position: absolute;
     top: 26px;
     right: 240px;
}
.top {
    background: #F1E4E6;
    min-width: 1600px;
    display: flex;
    justify-content: space-around;
    
}
.texttop {
    color: #F16D7F;
}
.top-right {
    padding-right: 331px;
    padding-top: 290px;
}
.top-heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}
.text-top {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}
.box-text {
    width:12px;
    height:92px;
    background: #F16D7F;
    position: absolute;
    right: 388px;
}
.top-box {
    position:relative;
}
.content-top {
    padding: 65px 230px 30px 230px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.card-one {
    Width:360px;
    height:260px;   
    margin-right: 30px;
    background-image: url(img/card1.png);
    background-repeat: no-repeat;
}
.card-two {
    margin-right: 30px;
    
    Width:360px;
    height:260px;
    background-image: url(img/card2.png);
    background-repeat: no-repeat;
}
.card {
    Width:360px;
    height:260px;
    background-image: url(img/card3.png);
    background-repeat: no-repeat;
}
.content-bot {
    padding: 0px 0px 96px 0px;
    background-color: #ffffff;
}
.card-bot {
    Width:1140px;
    height:180px;
    margin:auto; 
    background-image: url(img/card4.png);
    background-repeat: no-repeat; 
}
.card-background {
    width: 360px;
    height:260px;
    background: rgba(33, 22, 22, 0.7);
}
.card-background-bot {
    width: 1140px;
    height:180px ;
    background: rgba(33, 22, 22, 0.7);
}
.text-card-bot {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}
.text-card-top {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.card-text {
    padding: 105px 0px;
}
.car d-text-bot {
    padding: 65px 0px;
}